* {
  box-sizing: border-box;
}

/* .borde{
  position: absolute;
  right: 366px;
  left: 366px;
  margin: 45px;
  max-width: 500px;
  padding: 16px;
  background-color: white;
} */

.navbarColor {
  background-color: #ff3535;
}
.bg-img {
  /* Imagen usada*/
  background-image: url("");

  height: 658px;

  /* Posición de imagen de fondo */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.tableRegisters {
  margin: auto;
  width: 75%;
}

/* Todos los input*/
input[type="text"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f0e3e3;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Estilo de submit button */
.btn {
  margin: 10px;
  background-color: #707070;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 95%;
  opacity: 1;
}

.btn:hover {
  opacity: 3;
}

.table {
  background-color: #707070;
  margin-top: 50px;
}

.colorTextWhite {
  color: white;
}

.table1 {
  background-color: #ffffff;
}
